.section {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titlePhonebook {
  font-family: 'Dancing Script', cursive;
  margin: 15px 0;
  text-align: center;
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(249, 251, 255), rgb(46, 42, 105));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 3px 5px rgba(150, 150, 150, 1);
}

.titleContacts {
  font-family: 'Dancing Script', cursive;
  margin: 15px 0;
  text-align: center;
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.appear {
  transform: scale(0) rotate(360deg);
  opacity: 0;
}

.appearActive {
  transform: scale(1) rotate(0deg);
  opacity: 1;
  transition: all 500ms linear;
}
