.Footer {
  margin: 0;
  padding: 0;
  width: 100vw;
  border-top: 0.1px solid rgba(255, 255, 255, 0.322);
  color: #ffffff5b;
  background-color: #00000010;
  text-align: center;
  position: fixed;
  bottom: 0;
  backdrop-filter: blur(40px);
}

.Item {
  margin: 0;
  font-size: 13px;
}
